<header>
    <h1>About Us</h1>
</header>
<div class="container">
    <h2>Our Story</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat, nulla at facilisis sollicitudin, purus metus placerat nunc, id commodo enim ex id tellus. Sed venenatis tellus neque, at volutpat sapien malesuada id.</p>
    
    <h2>Our Team</h2>
    <div class="team-member">
        <img src="../assets/immages/soumya.jpg" alt="Team Member 1">
        <div class="team-member-info">
            <h3>Soumya Ranjan Bastia</h3>
            <p>Co-founder / CEO</p>
        </div>
    </div>
    <div class="team-member">
        <img src="team-member2.jpg" alt="Team Member 2">
        <div class="team-member-info">
            <h3>Jane Smith</h3>
            <p>Co-founder / CTO</p>
        </div>
    </div>
</div>
