<form>
<h1>Contact Information</h1>
	<p>Address: At- Soboni , post- Sisilo, Dist- Khordha</p>
	<p>Contact Number: +91 6372684380</p>
  <p>Email: bastiasomyaranjan@gmail.com </p><br>
	<ul>
		<li><a href="https://www.instagram.com/shadow_fight_99/" target="_blank" class="instagram">
            <i class="fa-brands fa-instagram"></i>
        </a></li>

		<li><a href="https://www.facebook.com/somyaranjansomya/" target="_blank" class="facebook">
            <i class="fa-brands fa-facebook"></i>
        </a></li>
		<li><a href="https://www.linkedin.com/in/soumyaranjan-bastia-45b086247" target="_blank" class="linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a></li>
	</ul>
</form>
